
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>

   
</head>

<body style="background-color:lemonchiffon;">
    <center>
      <h1>Products</h1>
    <form method="post" action="/safe1">
      {% csrf_token %} 
      <br><br>
        <img src="/static/org.jpg" alt="orangejuice" width="250" height="200"> 
        <br>
        <input type="submit"value="Orange juice"  style="height :30px;width :15% ;background-color:rgb(246, 152, 12);"  >
        

    </form>
    
    <form method="post" action="/safe2">
      {% csrf_token %} 
      <br>
      <img src="/static/mango1.jpg" alt="Mango juice"  width="250" height="200"> 
      <br>
        <input type="submit" value="Mango juice" style="height :30px;width :15% ;background-color:indianred;">
      
      

    </form>
    <form method="post" action="/logout">
       {% csrf_token %} 
       <br><br>
       <h3> Logout from here </h3>
        <input type="submit" value="Logout" style="height :30px;width :15%; background-color:dodgerblue">

    </form>
  </center>
</body>

</html>